<table class='posts'>
  <tr>
    <th>
      Score
    </th>
    <th>
      Title
    </th>
    <th>
      Author
    </th>
    <th>
      Comments
    </th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td>
        <%= post.score %>
      </td>
      <td>
        <%= link_to post.title, post.url %>
        <% if post.nsfw %> <span class="nsfw"> nsfw </span> <% end %>
        </td>
      <td>
        <%= post.author %>
      </td>
      <td>
        <%= link_to "#{post.num_comments}", post.permalink %>
      </td>
    </tr>
  <% end %>
</table>
